<%- include("partials/header") %>

  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="secret-intro">You've Discovered My Secret!</h1>
    
    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%= user.secret %></p>
    <% }) %>

    <hr>

    <a class="sign-out-btn" href="/signout" role="button">Sign out</a>
    <a class="secret-btn" href="/submit" role="button">Submit a Secret</a>
  </div>

<%- include("partials/footer") %>
