<%- include("partials/header") %>

<div class="container">
  <h1 class="intro-bg">Sign In</h1>

  <div class="">

    <div class="signin">
      <div class="">
        <div class="">
          <form action="/signin" method="POST">
            <input type="email" class="account-details" placeholder="Email Adress" name="username">
            <input type="password" class="account-details" placeholder="Password" name="password">
            <button type="submit" class="account-btn">Sign In</button>
          </form>
        </div>
      </div>
    </div>

    <div class="google-signup">
      <div class="">
        <div class="google-btn">
          <a class="" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include("partials/footer") %>
